.warning {
    color: #cc0000;
}

.scheduleTitle {
    border-bottom: 1px solid rgba(102, 102, 102, .5);
    font-size: 20px;
}

.scheduleHeader {
    font-size: 15px;
}

.scheduleBody {
    font-size: 15px;
}

.highlightTrain {
    color: #66ccff;
    font-weight: bold;
}

.onTime {
    color: #00e400;
}

.delayed {
    color: #cc6600;
}

.majorDelay {
    color: #cc0000;
}

.colTrain {
    width: 20%;
}

.colLine {
    width: 25%;
}

.colEta {
    width: 20%;
}

.colStatus {
    width: 35%;
}